/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@mixin center($width) {
    width: $width;
    margin: 0 auto;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    
    background-repeat: repeat;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    @include center(1000px);
}

.link {
    cursor: pointer;
}


/************************************************************************/
// BANNER
/************************************************************************/

#banner {
    height: 750px;
    white-space: nowrap;
    text-align: center;
    background-image: url("../img/banner.jpg");
    background-size: cover;
}

#bannerText {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3em;
    font-weight: 700;
    display: inline-block;
    height: 150px;
    width: 100%;
    vertical-align: middle;
    white-space: normal;
    margin: 0 auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.centerHelper {
    display: inline-block;
    vertical-align: middle;
    height:100%;
}

.changingText {
    width: 800px;
    height: 100px;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}

/************************************************************************/
// HEADER
/************************************************************************/

$header-height: 75px;

header {
    width: 100%;
    height: $header-height;
    background-color: black;
    border-bottom: 2px solid #D1D1D1; 
}

.stickyNavBar {
    position: fixed;
    top: 0;
}

header .wrapper {
    color: #999999;
}

#logo {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 2.3em;
    color: white;
}

#navbar {
    height: 100%;
    float: right;
}

#navbar li {
    display: inline-block;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2em;
    color: white;
    font-weight: 600;
    margin: 0;
}
#navbar a {
    margin: 0;
}

#navbar li:hover {
    //background-color: #333333;
}


/************************************************************************/
// ABOUT
/************************************************************************/

#about{
    padding-top: 30px;
    padding-bottom: 50px;
    font-weight: 300;
}

.stickyAbout {
    margin-top: $header-height;
}

#about .wrapper {
    background-repeat: repeat;
}

#about h1 {
    font-size: 2.5em;
    @include center(500px);
    text-align: center;
    margin-bottom: 10px;
}

#about hr {
    margin-bottom: 50px;
    width: 40%;
}

#about_boxes .box {
    vertical-align:top;
    display: inline-block;
    width: 200px;
    margin-right: 60px;
    text-align: center;
}

#about_boxes .box:last-child {
    margin-right: 0;
}

#about_boxes .box .image {
    height: 200px;
    background-size: cover;
    margin-bottom: 15px;
    @include border-radius(40px);
}

#about_boxes p {
    font-size: .9em;
    letter-spacing: 1px;
    line-height: 150%;
}

#technology_image {
    background-image: url("../img/technology.jpg");
}

#mun_image {
    background-image: url("../img/mun_flag.png");
}

#piano_guitar_image {
    background-image: url("../img/piano_guitar.jpg");
}

#food_image {
    background-image: url("../img/food.jpg");
}


/************************************************************************/
// ABOUT
/************************************************************************/

#skills {
    background-image: url('../img/p5.png');
    // background-image: url('dark_fish_skin.png');
    background-repeat: repeat;
    color: #191919;
    padding-top: 30px;
    padding-bottom: 50px;
}

#skills h1 {
    font-size: 2.5em;
    @include center(500px);
    text-align: center;
    margin-bottom: 20px;
}

#skills hr {
    margin-bottom: 50px;
    width: 40%;
}